.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--spacing-56);
}

.about__section h1 {
  margin-bottom: var(--spacing-16);
}

.about__section p {
  font-size: 20px;
  max-width: 600px;
  color: var(--color-white-60);
}

/**
 * Source from 13.desember:
 * https://www.w3schools.com/css/css3_masking.asp
 */
.image__mask {
  width: 300px;
  height: 300px;
  object-fit: cover;
  -webkit-mask-image: url(/vector.png);
  mask-image: url(/vector.png);
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
  display: block;
  margin-bottom: var(--spacing-32);
}

.details__section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-48);
}

.work__experience,
.education {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.work__list,
.education__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.work__item,
.education__item {
  display: flex;
  align-items: center;
  gap: var(--spacing-24);
  padding: var(--spacing-24);
  border-radius: var(--border-radius);
}

.work__item {
  background: var(--gradient-blue-background);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--color-light-blue);
}

.education__item {
  background: var(--gradient-yellow-background);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--color-yellow);
}

.work__logo,
.education__logo {
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.work__logo {
  border: 1px solid var(--color-light-blue);
}

.education__logo {
  border: 1px solid var(--color-yellow);
}

/* CHANGE LATER WHEN DATA IS IMPLEMENTED */
.work__logo svg,
.education__logo svg {
  width: 35px;
  height: auto;
  fill: var(--color-white);
}

.work__info,
.education__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4);
}

.work__details,
.education__details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.work__role,
.education__type {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-white-60);
}

.work__company,
.education__school {
  font-weight: var(--font-weight-semibold);
  font-size: 28px;
  color: var(--color-white);
  line-height: 1.1em;
}

.work__duration,
.education__duration {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-white);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .image__mask {
    width: 450px;
    height: 450px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {

}