.about__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-56);
}

.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__section h1 {
  margin-bottom: var(--spacing-16);
}

.about__section p {
  font-size: 20px;
  max-width: 600px;
  color: var(--color-white-60);
}

/**
 * Source from 13.desember:
 * https://www.w3schools.com/css/css3_masking.asp
 */
.image__mask {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  -webkit-mask-image: url(/vector.png);
  mask-image: url(/vector.png);
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
  display: block;
  margin-bottom: var(--spacing-32);
}

.details__section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-48);
}

.details__section hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--color-white-60);
}

.work__experience,
.education,
.services {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.work__list,
.education__list,
.services__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.work__item,
.education__item {
  display: flex;
  align-items: center;
  gap: var(--spacing-24);
  padding: var(--spacing-24);
  border-radius: var(--border-radius);
}

.services__item {
  display: flex;
  align-items: start;
  gap: var(--spacing-24);
  padding: var(--spacing-24);
  border-radius: var(--border-radius);
}

.work__item {
  background: var(--gradient-blue-background);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--color-light-blue);
}

.education__item {
  background: var(--gradient-yellow-background);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--color-yellow);
}

.services__item {
  background-color: var(--color-black);
  border: 1px solid var(--color-white-30);
}

.work__logo,
.education__logo {
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.work__logo {
  border: 1px solid var(--color-light-blue);
}

.education__logo {
  border: 1px solid var(--color-yellow);
}

.lottie__container {
  max-width: 60px;
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-blue);
  background: #131313;
  overflow: hidden;
}

.lottie__container dotlottie-wc {
  max-width: 100%;
  max-height: 100%;
}

.lottie__container.full-height {
  width: 100%;
  position: relative;
}
.lottie__container.full-height dotlottie-wc {
  transform: scale(1.5);
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
}

.bookbuild__logo,
.appex__logo,
.larssenamaral__logo,
.usn__logo {
  width: 35px;
  height: auto;
  fill: var(--color-white);
}

.noroff__logo {
  width: auto;
  height: 35px;
  fill: var(--color-white);
}

.appex__logo {
  padding-right: 3px;
  padding-top: 3px;
}

.work__info,
.education__info,
.services__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4);
}

.work__details,
.education__details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.work__role,
.education__type {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-white-60);
}

.work__company,
.education__school,
.services__name {
  font-weight: var(--font-weight-semibold);
  font-size: 28px;
  color: var(--color-white);
  line-height: 1.1em;
}

.work__duration,
.education__duration{
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-white);
  white-space: nowrap;
}

.services__description {
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--color-white);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .image__mask {
    max-width: 450px;
  }

  .work__details,
  .education__details {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .work__logo,
  .education__logo {
    width: 75px;
    height: 75px;
  }

  .lottie__container {
    max-width: 75px;
    min-width: 75px;
    height: 75px;
  }

  .bookbuild__logo,
  .appex__logo,
  .larssenamaral__logo,
  .usn__logo {
    width: 40px;
  }

  .noroff__logo {
    height: 40px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .about__container {
    flex-direction: row;
    gap: 100px;
  }
  .about__section {
    flex: 1;
    align-items: flex-start;
    text-align: left;
  }

  .details__section {
    flex: 1.25;
  }
}