.button__primary,
.button__secondary {
  color: var(--color-white);
  background-color: transparent;
  background-image: none;
  font-family: var(--font-secondary);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semibold);
  padding: 10px 16px;
  border: 1px solid var(--color-light-blue);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-8);
  cursor: pointer;
  text-decoration: none;
  transition:
    transform var(--transition-medium) cubic-bezier(.4,2,.3,1),
    border-color var(--transition-medium) ease;
}
.button__primary:hover {
  background-image: var(--gradient-blue);
  transform: scale(1.02);
  border-color: var(--color-black);
}

.button__secondary:hover {
  background-image: var(--gradient-blue);
  transform: scale(1.02);
  border-color: var(--color-dark-gray);
}

.scroll-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}