.button__primary {
  color: var(--color-white);
  background-image: none;
  font-family: var(--font-secondary);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-semibold);
  padding: 10px 16px;
  border: 1px solid var(--color-light-blue);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  transition:
    transform var(--transition-medium) cubic-bezier(.4,2,.3,1),
    border-color var(--transition-medium) ease;
}
.button__primary:hover {
  background-image: linear-gradient(315deg, var(--color-dark-blue), var(--color-light-blue));
  transform: scale(1.02);
  border-color: var(--color-black);
}