.contact {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-56);
}

.contact__intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-56);
}

.eyebrow {
  color: var(--color-white-60);
  margin-bottom: var(--spacing-8);
}

.contact__title {
  margin-bottom: var(--spacing-24);
  font-size: var(--font-size-h1);
}

.contact__description {
  max-width: 600px;
  line-height: 1.6;
}

/*========== Contact Methods ==========*/
.contact__methods {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.contact__method a {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  color: var(--color-white);
  text-decoration: none;
}

.contact__icon {
  font-size: 24px;
  color: var(--color-light-blue);
}

/*========== Contact Files ==========*/
.contact__files {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--spacing-24);
  max-width: 700px;
}

.contact__file {
  display: flex;
  align-items: center;
  padding: var(--spacing-24);
  gap: var(--spacing-32);
  border-radius: var(--border-radius);
  border: 1.4px solid var(--color-light-blue);
  background: var(--gradient-blue-background);
  background-blend-mode: soft-light, normal;
}

.contact__file-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
  border: 1.5px solid var(--color-light-blue);
  background-color: var(--color-black);
  cursor: pointer;
  transition: background-color var(--transition-medium) ease, transform var(--transition-medium) ease;
}

.contact__file-link:hover {
  background-color: var(--color-dark-gray);
  transform: scale(1.05);
  box-shadow: var(--drop-shadow);
}

.contact__file-link svg {
  width: 24px;
  height: 24px;
  color: var(--color-white);
  transition: fill var(--transition-medium) ease;
}

.contact__file-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__file-label {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-primary);
  color: var(--color-white-60);
  margin-bottom: 4px;
}

.contact__file-type {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
  line-height: 1em;
}

/*========== Contact Form ==========*/
.contact__form {
  flex: 1;
  background-color: var(--color-dark-gray);
  padding: var(--spacing-32);
  border-radius: var(--border-radius);
  height: fit-content;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.contact__form label {
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-primary);
}

.contact__form input,
.contact__form select,
.contact__form textarea {
  padding: var(--spacing-16);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-white);
  background: var(--color-medium-gray);
  font-size: var(--input-font-size);
  font-family: var(--font-primary);
  color: var(--color-white);
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact__form input:focus,
.contact__form select:focus,
.contact__form textarea:focus {
  outline: none;
  border: 1px solid var(--color-light-blue);
}

/**
 * Source from 13.desember:
 * https://stackoverflow.com/questions/14218307/select-arrow-style-change
 */
.contact__form select {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NDAgNjQwIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDcuMS4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iI2YwZjBmMCIgZD0iTTI5Ny40IDQ3MC42QzMwOS45IDQ4My4xIDMzMC4yIDQ4My4xIDM0Mi43IDQ3MC42TDUzNC43IDI3OC42QzU0Ny4yIDI2Ni4xIDU0Ny4yIDI0NS44IDUzNC43IDIzMy4zQzUyMi4yIDIyMC44IDUwMS45IDIyMC44IDQ4OS40IDIzMy4zTDMyMCA0MDIuN0wxNTAuNiAyMzMuNEMxMzguMSAyMjAuOSAxMTcuOCAyMjAuOSAxMDUuMyAyMzMuNEM5Mi44IDI0NS45IDkyLjggMjY2LjIgMTA1LjMgMjc4LjdMMjk3LjMgNDcwLjd6Ii8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
}

/*select:invalid,
select option[value=""] {
  color: var(--color-light-gray);
}

select:not(:invalid) {
  color: var(--color-white);
}*/

.contact__form textarea {
  height: 120px;
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    gap: var(--spacing-80);
    align-items: center;
  }

}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .contact {
    gap: 150px;
  }

  /*========== Contact Files ==========*/
  .contact__files {
    flex-direction: row;
    gap: var(--spacing-24);
  }

}