footer {
  background-color: var(--color-light-blue);
  width: 100%;
  padding: var(--spacing-32) 0;
  margin-top: var(--spacing-80);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo a {
  display: flex;
  align-items: center;
}

.footer-logo svg{
  color: var(--color-black);
  width: 80px;
  height: auto;
  transition: width var(--transition-medium) ease-in-out;
}

.footer-icons {
  list-style: none;
  display: flex;
  gap: var(--spacing-32);
  margin: 0;
  padding: 0;
}

.footer-icons a {
  font-size: 20px;
  color: var(--color-black);
  transition: color var(--transition-fast), font-size var(--transition-medium) ease-in-out;
}
.footer-icons a:hover {
  color: var(--color-white);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .footer-logo svg{
    width: 90px;
  }

  .footer-icons a {
    font-size: 24px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .footer-logo svg{
    width: 100px;
  }
}