.project__page-title {
  margin-bottom: var(--spacing-24);
}

.project__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-24);
}

.project__item {
  overflow: hidden;
  transition: scale var(--transition-medium) ease-in-out;
}

.project__item:hover .project__image {
  transform: scale(1.07);
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  opacity: 0.95;
}

.project__content {
  margin-top: var(--spacing-32);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.project__image-container {
  overflow: hidden;
  border-radius: var(--border-radius);
}

.project__image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.project__info {
  width: 100%;
}

.project__title {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
}

.project__subtitle {
  margin-bottom: var(--spacing-8);
  color: var(--color-light-blue);
  font-weight: var(--font-weight-medium);
  font-size: 20px;
}

.project__description {
  font-size: 18px;
}

.project__actions {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
  align-items: start;
  margin-top: var(--spacing-24);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-32);
  }

  .project__image {
    height: 325px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .project__grid {
    gap: var(--spacing-40);
  }

  .project__content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .project__image {
    height: 490px;
  }

  .project__info {
    width: 50%;
  }

  .project__actions {
    flex-direction: column;
    margin-top: 0;
    align-items: end;
  }
}

@media (min-width: 1500px) {
  .project__actions {
    flex-direction: row;
    align-items: start;
  }
}