@import './variables.css';
@import './navbar.css';
@import './footer.css';
@import './buttons.css';
@import './projects.css';
@import './contact.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 { font: var(--font-weight-medium) var(--font-size-h1)/1em var(--font-primary); }
h2 { font: var(--font-weight-medium) var(--font-size-h2)/1em var(--font-primary); }
h3 { font: var(--font-weight-medium) var(--font-size-h3)/1em var(--font-primary); }
h4 { font: var(--font-weight-medium) var(--font-size-h4)/1em var(--font-primary); }
h5 { font: var(--font-weight-medium) var(--font-size-h5)/1em var(--font-primary); }
h6 { font: var(--font-weight-medium) var(--font-size-h6)/1em var(--font-primary); }

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 36px;
  max-width: 1728px;
  justify-self: center;
  width: 100%;
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .container {
    padding: 0 var(--spacing-48);
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .container {
    padding: 0 108px;
  }
}