@import './variables.css';
@import './navbar.css';
@import './footer.css';
@import './buttons.css';
@import './projects.css';
@import './contact.css';
@import './about.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 { font: var(--font-weight-medium) var(--font-size-h1)/1em var(--font-primary); }
h2 { font: var(--font-weight-medium) var(--font-size-h2)/1em var(--font-primary); }
h3 { font: var(--font-weight-medium) var(--font-size-h3)/1em var(--font-primary); }
h4 { font: var(--font-weight-medium) var(--font-size-h4)/1em var(--font-primary); }
h5 { font: var(--font-weight-medium) var(--font-size-h5)/1em var(--font-primary); }
h6 { font: var(--font-weight-medium) var(--font-size-h6)/1em var(--font-primary); }

h1, h2, h3, h4, h5, h6 {
  transition: font var(--transition-medium) ease-in-out;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 36px;
  max-width: 1728px;
  justify-self: center;
  width: 100%;
}

/*========== Spline Shapes ==========*/
.hero-spline {
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: var(--element-shadow);
  z-index: -1;
}

.hero-spline-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-spline-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93vh;
  overflow: hidden;
  z-index: -1;
}

/*========== Hero ==========*/
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 78vh;
  text-align: center;
  margin-bottom: 200px;
}

.hero__intro {
  margin-bottom: var(--spacing-16);
  font-family: var(--font-primary);
  font-size: 16px;
  transition: font-size var(--transition-medium) ease-in-out;
}

.hero__title span {
  display: block;
}

.hero__scroll {
  position: absolute;
  bottom: var(--spacing-24);
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-button);
  color: var(--color-white-60);
}

/*========== Skills and services ==========*/
.skills-and-services {
  text-align: center;
}

.skills-and-services__heading {
  font-size: 20px;
  margin-bottom: var(--spacing-24);
  color: var(--color-white-60);
  font-weight: var(--font-weight-regular);
}

.skills-and-services__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-24);
  transition: gap var(--transition-medium) ease-in-out;
}

.skills-and-services__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-8);
  transition: gap var(--transition-medium) ease-in-out;
}

.skills-and-services__text {
  font-size: 20px;
  font-weight: var(--font-weight-medium);
}

.skills-and-services__lottie {
  max-width: 60px;
  min-width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-blue);
  background: #131313;
  overflow: hidden;
  transition: all var(--transition-medium) ease-in-out;
}

.skills-and-services__lottie dotlottie-wc {
  max-width: 100%;
  max-height: 100%;
}

/*========== Projects ==========*/
.projects__section {
  margin: 150px 0;
}

.projects__heading {
  margin-bottom: var(--spacing-32);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .container {
    padding: 0 var(--spacing-48);
  }

  /*========== Hero ==========*/
  .hero__intro {
    font-size: 20px;
  }

  .hero__title {
    font-size: 56px;
    line-height: 1.2em;
  }

  /*========== Skills and services ==========*/
  .skills-and-services__list {
    gap: var(--spacing-32);
  }

  .skills-and-services__item {
    gap: var(--spacing-16);
  }

  .skills-and-services__text {
    font-size: 40px;
  }

  .skills-and-services__lottie {
    max-width: 80px;
    min-width: 80px;
    height: 50px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .container {
    padding: 0 108px;
  }

  /*========== Hero ==========*/
  .hero__intro {
    font-size: 24px;
  }
  .hero__title {
    font-size: 80px;
  }

  /*========== Skills and services ==========*/
  .skills-and-services__text {
    font-size: 60px;
  }

  .skills-and-services__lottie {
    max-width: 100px;
    min-width: 100px;
    height: 60px;
  }
}