:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*========== Colors ==========*/
  --color-light-blue: #60B0FF;
  --color-dark-blue: #000654;
  --color-red: #D53B46;
  --color-yellow: #FFCA73;
  --color-white: #F0F0F0;
  --color-black: #0C0C0C;
  --color-dark-gray: #1D1D1D;
  --color-medium-gray: #272727;
  --color-light-gray: #3C3C3C;

  /*========== Feedback Colors ==========*/
  --color-feedback-success: #2BAE66;
  --color-feedback-warning: #F57C00;
  --color-feedback-error: #D64550;
  --color-feedback-info: #1B6EF3;

  /*========== Typography ==========*/
  --font-primary: "Sora", Avenir, Helvetica, Arial, sans-serif;
  --font-secondary: "Poppins", Avenir, Helvetica, Arial, sans-serif;

  /*========== Font Weights ==========*/
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*========== Font Sizes ==========*/
  --font-size-h1: 32px;
  --font-size-h2: 26px;
  --font-size-h3: 22px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;

  --font-size-paragraph: 16px;
  --font-size-badge: 24px;
  --font-size-button: 20px;
  --input-font-size: 16px;

  /*========== Spacing ==========*/
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-80: 80px;
  --spacing-96: 96px;

  /*========== Border Radius ==========*/
  --border-radius: 8px;

  /*========== Transitions ==========*/
  --transition-fast: 0.2s;
  --transition-medium: 0.4s;

  /*========== Shadows ==========*/
  --shadow: 0 1px 2px -1px rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 10%);
  --inner-shadow: inset 0 2px 6px rgb(0 0 0 / 10%);
  --overlay-shadow: -2px 0 8px rgb(0 0 0 / 10%);

  /*========== Gradients ==========*/
}